{
  "Access-Control-Allow-Origin": "*",
  "Access-Control-Allow-Methods": "OPTIONS, POST, GET, PUT, DELETE",
  "Access-Control-Allow-Headers": "Origin, X-Requested-With, Content-Type, Accept, Authorization",

  "database": {
    "host": "localhost",
    "user": "app",
    "password" : "password",
    "database": "home",
    "driver": "mysql",
    "multipleStatements": true
  },

  "env": {
    "NODE_TLS_REJECT_UNAUTHORIZED": 0
  },

  "https": {
    "cert": "/Users/danielgarnder/.ssh/safety.crt",
    "key": "/Users/danielgarnder/.ssh/safety.key"
  },

  "jwt": {
    "public_key": "-----BEGIN PUBLIC KEY-----  -----END PUBLIC KEY-----",
    "algorithms": [ "RS256" ]
  },

  "log_level": "debug",

  "server": {
    "hostname": "localhost",
    "port": 3333,
    "protocol": "https:"
  }
}
